.item {

}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
}

.container {
    width: 676px;
}

.thead {
    
}

.nameCol {
}

.ageCol {
}