.button {
    height: 100px;
    width: 120px;
}

.disabled {
    background-color: #00cc22;
}

.secondary {
    color: #0066CC;

    font: inherit;
    padding: 5px 24px;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.default {
    font: inherit;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background-color: #0066CC;

    color: white;
    padding: 5px 24px;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.red {
    background-color: red;
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
